{"index":{"_index":"cortex_2","_type":"organization","_id":"cortex","_routing":"cortex"}}
{"status":"Active","createdBy":"init","description":"Default organization","createdAt":1549126253822}
{"index":{"_index":"cortex_2","_type":"organization","_id":"Default","_routing":"Default"}}
{"status":"Active","description":"Default","createdBy":"init","createdAt":1549126253822}
{"index":{"_index":"cortex_2","_type":"user","_id":"thehive","_routing":"thehive"}}
{"organization":"Default","roles":["read","analyze"],"createdBy":"init","createdAt":1549126253822,"name":"thehive","status":"Ok","preferences":"{}","key":"{{ cortex_api_key }}"}
{"index":{"_index":"cortex_2","_type":"user","_id":"{{ cortex_seed_initial_username }}","_routing":"{{ cortex_seed_initial_username }}"}}
{"createdBy":"init","roles":["read","analyze","orgadmin"],"organization":"Default","createdAt":1549126253822,"status":"Ok","preferences":"{}","name":"{{ cortex_seed_initial_username }}"}
